body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.navbar-brand {
    padding-right: 47em;
}

.text-center {
    padding-top: 120px;
}

.card-deck {
   
    

}

.footer {
    padding-top: 50px;
}